<!DOCTYPE html>
<html>
	<head>
		<title> Error, page not found</title>
		<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/404.css">
	</head>
	<body>
		<div>
			<h1>404 Error</h1>
			<h3>That's Right!</h3>
			<p>You came all the way only to realize <br/>that the page you are trying to find does not exist.</p>
			<a href="/"><button class="btn btn-light">Back to home</button></a>
		</div>
	</body>
</html>
