<!DOCTYPE html>
<html>
	<head>
		<title> Error, page not found</title>
	</head>
	<body>
		<img src="https://uxdworld.files.wordpress.com/2019/01/404-banner.jpg" />
		<p>We looked everywhere for the page</p>
		<p>Are you sure the URL is correct</p>
		<p>Contact admin for any query</p>
		<a href="/"><button>Back to home</button></a>
	</body>
</html>
