<!DOCTYPE html>
<html>
	<head>
		<title> My First Express App</title>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>

		
  		
	</head>
	<body>
		<h1> Hello </h1>
		<%if(typeof success!='undefined'){%>
			<p><%=success%></p>
		<%}%>
		<form method="post">
			<p>Email: <input type="text" name="email" required="true"></p>
			<p>Password: <input type="password" name="password" required="true"></p>
			<input type="submit" name="submit" value="Login" />
		</form>
		<% if(typeof error!= 'undefined'){%>
		<p><%= error%></p>
		<%}%>
		<p>for now... username = abc@gmail.com, password = password</p>
		<p><a href="/admin_forgot_password">Forgot password</a></p>
		<p>Not Admin, <a href="/">Click here</a></p>
	</body>
</html>
