<!DOCTYPE html>
<html>
	<head>
		<title>Password Reset</title>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>

		
  		
	</head>
	<body>
		<h1> Hello </h1>
		<h4><%= username%></h4>
		<form method="post">
			<p>New password: <input type="password" name="new_pass1" required="true"></p>
			<p>New password again: <input type="password" name="new_pass2" required="true"></p>
			<p><input type="submit" name="submit" value="Submit"></p>
		</form>
	</body>
</html>
