<!DOCTYPE html>
<html>
	<head>
		<title>Change Password</title>
		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<script type="text/javascript" async="" src="http://www.googletagmanager.com/gtag/js?id=G-SD5ZLVWXK3&amp;l=dataLayer&amp;cx=c"></script><script src="https://www.googletagmanager.com/gtag/js?l=dataLayer" async=""></script>
		<link rel="stylesheet" href="css/admin_change_details.css" type="text/css">
	</head>
	<body>
		<!-- <nav>
			<a href="/admin_home" class="active">Home</a>
			<a href="/admin_change_details">Manage</a>
			<a href="/admin_profile">Profile</a>
		</nav> -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">IITI Attendance System</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			  </button>
	
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
						<a class="nav-link" href="/admin_home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin_change_details">Manage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/admin_change_password">Change Password</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Sign Out</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container-fluid">
		<%if(typeof error != 'undefined'){%>
		
		<div class="alert alert-danger" role="alert">
			<p><%=error%></p>
		  </div>
		<%}%>
		<form method="post">
			<!-- <p>Old password: <input type="password" name="old_pass"></p>
			<p>New password: <input type="password" name="new_pass1"></p>
			<p>Enter new password again password: <input type="password" name="new_pass2"></p>
			<p><input type="submit" name="submit" value="change password"></p> -->
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text text-dark" id=" inputGroup-sizing-default">Old password: </span>
				</div><input type="password" name="old_pass" class="form-control text-dark bg-light" aria-label="Sizing example input" id="search" aria-describedby="inputGroup-sizing-default" >
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text text-dark" id=" inputGroup-sizing-default">New Password: </span>
				</div><input type="password" name="new_pass1" class="form-control text-dark bg-light" aria-label="Sizing example input" id="search" aria-describedby="inputGroup-sizing-default" >
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text text-dark" id=" inputGroup-sizing-default">Confirm Password: </span>
				</div><input type="password" name="new_pass2" class="form-control text-dark bg-light" aria-label="Sizing example input" id="search" aria-describedby="inputGroup-sizing-default" >
			</div>
			<!-- <input type="submit" name="submit" value="change password"></p> -->
			<button type="submit" class="btn btn-primary">Change Password</button>

		</form>
	</div>
	</body>
</html>