<!DOCTYPE html>
<html>
	<head>
		<title>Add Students</title>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<script type="text/javascript" async="" src="http://www.googletagmanager.com/gtag/js?id=G-SD5ZLVWXK3&amp;l=dataLayer&amp;cx=c"></script><script src="https://www.googletagmanager.com/gtag/js?l=dataLayer" async=""></script>
		<link rel="stylesheet" href="css/admin_change_details.css" type="text/css">
	</head>
	<body>
		<!-- <nav>
			<a href="/admin_home" class="active">Home</a>
			<a href="/admin_change_details">Manage</a>
			<a href="/admin_profile">Profile</a>
		</nav> -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">IITI Attendance System</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			  </button>
	
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
						<a class="nav-link" href="/admin_home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin_change_details">Manage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/admin_change_password">Change Password</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Sign Out</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- <form method="post">
			<p>Year of admission: <input type="number" name="year" required="true" /></p>
			<p><input type="file" id="myFile" name="file" required="true"></p>
			<button type="submit">Upload</button>
		</form> -->
		<div class="container">
			<%if(typeof success!='undefined'){%>
				<div class="alert alert-success" role="alert">
					<p><%=success%></p>
				</div>	
			<%}%>
			<img src="images/excelFile.png" style="width: 80%;display: block;height: auto;margin-left: auto;  margin-right: auto;" />
			<form id="uploadForm" enctype="multipart/form-data" action="admin_add_excel_file" method="post">
				<br/>
				<div class="form-group row">
					<label for="inputPassword3" class="col-sm-2 col-form-label">Year of admission:</label>
					<div class="col-sm-10">
				  		<input type="number" required="true" name="year" class="form-control" id="inputPassword3">
					</div>
			  	</div>

<!-- 
				<p>Year of admission: <input type="number" name="year" required="true" /></p> -->
				<p>Upload xlsx type files only</p>
				<p><input type="file" name="file" required="true" /></p>
				<input type="submit" name="submit" value="Upload" class="btn btn-info">
			</form>
		</div>
	</body>
</html>
