<!DOCTYPE html>
<html>
	<head>
		<title>Password Reset</title>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" async="" src="http://www.googletagmanager.com/gtag/js?id=G-SD5ZLVWXK3&amp;l=dataLayer&amp;cx=c"></script>
		<script src="https://www.googletagmanager.com/gtag/js?l=dataLayer" async=""></script>
		<script type="text/javascript">
			function check_pass(){
				var pass1 = document.getElementById('pass1').value;
				var pass2 = document.getElementById('pass2').value;
				if(pass1!=pass2){
					document.getElementById('error').style.display='';
					document.getElementById('error').innerHTML='given passwords must match';
					document.getElementById('sub').disabled = true;
				}
				else{

					document.getElementById('error').style.display='none';
					document.getElementById('error').innerHTML='';
					document.getElementById('sub').disabled = false;
				}
				
			}
		</script>
		
  		
	</head>
	<body>
		<!-- <h1> Hello </h1> -->
		<nav class="navbar navbar-light bg-dark" style="margin-bottom: 53px;">
			<span class="navbar-brand mb-0 h1 text-light">Forgot Password</span>
		</nav>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Hello <%= username%>!</strong> You are authorized to change your password now.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="container-fluid">
			<p class="alert alert-danger" role="alert" id='error' style="display: none;"></p>
			<form method="post">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text text-dark" id=" inputGroup-sizing-default">New Password: </span>
					</div><input type="password" name="new_pass1" required="true" class="form-control text-dark bg-light" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="" id="pass1">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text text-dark" id=" inputGroup-sizing-default">Confirm Password: </span>
					</div><input type="password" name="new_pass2" required="true" class="form-control text-dark bg-light" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="" id="pass2" onkeyup="check_pass()">
				</div>
				<!-- <p>New password: <input type="password" name="new_pass1" required="true"></p>
				<p>New password again: <input type="password" name="new_pass2" required="true"></p> -->
				<!-- <p><input type="submit" name="submit" value="Submit"></p> -->
				<button type="submit" name="submit" class="btn btn-info" id="sub">Submit</button>
			</form>
		</div>
	</body>
</html>