<!DOCTYPE html>
<html>
	<head>
		<title> Forgot Password</title>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" async=""
			src="http://www.googletagmanager.com/gtag/js?id=G-SD5ZLVWXK3&amp;l=dataLayer&amp;cx=c"></script>
		<script src="https://www.googletagmanager.com/gtag/js?l=dataLayer" async=""></script>
  		
	</head>
	<body style="background-color: #e7e7e7;">
		<!-- <h1> Hello </h1> -->
		<nav class="navbar navbar-light bg-dark" style="margin-bottom: 53px;">
			<span class="navbar-brand mb-0 h1 text-light">Forgot Password</span>
		</nav>

		<div class="container-fluid">
		<% if(typeof success!='undefined'){%>
		<div class="alert alert-success" role="alert">
			<p><%=success%></p>
		  </div>
		<%}%>
		<% if(typeof error!='undefined'){%>
		<div class="alert alert-danger" role="alert">
			<p><%=error%></p>
		  </div>
		<%}%>

		
		<form method="post">
			<div class="form-group">
				<div class="input-group-prepend mb-3">
					<span class="input-group-text text-dark" id=" inputGroup-sizing-default">Please enter your username: </span>
				</div>
				<input type="text" name="username" required="true" class="form-control mb-3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				<button type="submit" class="btn btn-primary">submit</button>
			</div>

			<!-- <p>Username: <input type="text" name="username" required="true"></p>
			<p><input type="submit" name="submit" value="Submit"></p> -->
		</form>
		<a href="/admin_login"><button type="button" class="btn btn-warning">Back To Login</button></a>
	</div>
	</body>
</html>
