<!DOCTYPE html>
<html>
	<head>
		<title>Admin Login</title>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/admin_login.css" type="text/css">
  		
	</head>
	<body style="background-color: #e7e7e7;">
		<nav class="navbar navbar-light bg-dark" style="margin-bottom: 53px;">
			<span class="navbar-brand mb-0 h1 text-light">Log In</span>
		</nav>
		<%if(typeof success!='undefined'){%>
			<p><%=success%></p>
		<%}%>
		<div class="container">
			<!-- <form method="post">
				<p>Email: <input type="text" name="email" required="true"></p>
				<p>Password: <input type="password" name="password" required="true"></p>
				<input type="submit" name="submit" value="Login" />
			</form> -->

			<form method="POST">
				<div class="form-group">
				  <label for="exampleInputEmail1">Email address</label>
				  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
				  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
				</div>
				<div class="form-group">
				  <label for="exampleInputPassword1">Password</label>
				  <input type="password" class="form-control" name="password" id="exampleInputPassword1">
				</div>
				
				<button type="submit" class="btn btn-primary">Login</button>
				<% if(typeof error!= 'undefined'){%>
					
					<div id="alert"  class="alert alert-danger" role="alert">
						<p><%= error%></p>
					  </div>
					<%}%>
				</form>
				<!-- <p>for now... username = abc@gmail.com, password = password</p>
				<p><a href="/admin_forgot_password">Forgot password</a></p>
				<p>Not Admin, <a href="/">Click here</a></p> -->
				<a href="/admin_forgot_password"><button type="button" class="btn btn-warning forgot">Forgot Password?</button></a><br>
				<a href="/"><button type="button" class="btn btn-danger back" style="">Not Admin? Click Here</button></a>
		</div>
		
	</body>
</html>