<!DOCTYPE html>
<html>
	<head>
		<title>Voting App</title>
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
     	https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>

		<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-database.js"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  		<!-- <script type="text/javascript" src="js/firebaseAuth.js"></script>

		<script type="text/javascript" src="js/firebaseVoting.js"></script> -->

		<script>
	  		// Your web app's Firebase configuration
	  		var firebaseConfig = {
	    		apiKey: "AIzaSyAjJ2UNj58LOkgxBfMhc3YhQqfB0yKCSiA",
	    		authDomain: "iitisoc.firebaseapp.com",
	    		databaseURL: "https://iitisoc.firebaseio.com",
	    		projectId: "iitisoc",
	    		storageBucket: "iitisoc.appspot.com",
	    		messagingSenderId: "424029480675",
	    		appId: "1:424029480675:web:65e77446da3c2118c047d6",
	    		measurementId: "G-SD5ZLVWXK3"
	  		};
	  		// Initialize Firebase
	  		firebase.initializeApp(firebaseConfig);
	  		firebase.analytics();
		</script>
	</head>
	
	<body>
		<h1>Hello</h1>
		<table>
			<tr><th>Name</th><th>Roll No</th><th>Attendance</th></tr>
			<% var keys = Object.keys(students)%>
			<% keys.forEach(function(key){ %>
			<tr>
				<td><%=(students[key].Name)%></td>
				<td><%=(students[key].Rno)%></td>
				<td><%=(students[key].Attendance)%></td>
				<% var link = '/mark_attendance/?name='+students[key].Name+'&id='+key%>
				<%if((students[key].Attendance)==false){%>
				<td><a href=<%=link%>><button>Mark Attendance</button></a></td>
				<%}%>
			</tr>
				<%});%>
		</table><br/>
		<p>Not Student, <a href="/">Click here</a></p>
		
	</body>
</html>