<!DOCTYPE html>
<html>
	<head>
		<title> My First Express App</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  		
	</head>
	<body>
		<h1> Hello </h1>
		<a href="/home_student"><button>Student</button></a>
		<a href="/admin_login"><button>Admin</button></a>
	</body>
</html>
