<!DOCTYPE html>
<html>
	<head>
		<title> My First Express App</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  		<script type="text/javascript">
  			function store_data(){
				var d = new Date();
				var date = d.getDate();
				var i = date%8;
				window.localStorage.setItem("check",i);
			}
			function check_if_allowed(){
				var d = new Date();
				var date = d.getDate();
				var i = date%8;
				var check = localStorage.getItem("check");
				if(i==check)
					return 0;
				else
					return 1;
			}
			function both(){
				if(check_if_allowed()){
					store_data();
					var link = document.getElementById('link').innerHTML;
					window.location.replace(link);
				}
				else{
					window.alert('attendance marked already');
				}
			}
  		</script>
  		
	</head>
	<body>
		<h1> Hello </h1>

		<% var keys = Object.keys(students)%>
			<% keys.forEach(function(key){ %>
			<% if((key)==id){%>
			<p>Name: <%= students[key].Name%></p>
			<p>Roll No: <%= students[key].Rno%></p>
			
			<% }});%>
			<% var link = '/update/?id='+id%>
			<button onclick='both()'>Mark attendance</button>
			<p id='link' style="display: none;"><%=link%></p>
			
			<!-- <p>You have already marked your attendance</p> -->
			
			<p><a href='/home_student' style="text-decoration: none;">Back to home</a><p>
	</body>
</html>
