body
{
   background-color: #e7e7e7;
}

.container
{
    margin: 24px auto;
    width: 70%;
    background-color: bisque;
    border-radius: 7px;
    padding :30px;
}

.container label
{
    font-size: 20px;
}

#red
{
    border-radius: 7px;
    padding: 6px;
    margin: 32px 0px;
    text-decoration: underline;
    text-align: center;
}

.ss
{
    width: fit-content; 
    margin: 10px 0px;
}

#search
{
    width: 100%;
}