body{
    background-color: #e7e7e7;
}

.ss
{
    width: fit-content;
}

#yeartop
{
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.c1
{
    margin: 20px 0px 20px 0px;
}

.search2
{
    margin: 20px 0px 20px 0px;
}

.link12
{
    margin: 20px 0px 20px 0px;
}