.container{
    background-color: bisque;
    border-radius: 17px;
    padding: 47px;
    border: 1px solid black;
}

.navbar span
{
    margin: auto;
}

.forgot
{
    margin-top: 4px;
    position: relative;
    bottom: -74px;
    right: -142px;
}

.back
{
    margin-top: 4px;
     position: relative;
    bottom: -32px;
}
#alert{
    margin-top: 15px;
}