body{
    background-image: url("https://source.unsplash.com/2000x2000/?study");
             background-repeat: no-repeat; 
             text-align: center;
}

.greet{
    margin:auto;
}

.card-1
{
    width:25rem;
    margin:auto;
    /* height: 450px; */
}

.card-2
{
    width:25rem;
    margin:auto;
    /* height: 450px; */
}